/* Global Styles */  
  
* {  
  box-sizing: border-box;  
  margin: 0;  
  padding: 0;  
}  
  
body {  
  font-family: Arial, sans-serif;  
  font-size: 16px;  
  line-height: 1.5;  
  color: #333;  
  background-color: #f9f9f9;  
  background-image: linear-gradient(to bottom, #ff69b4, #ff99cc);  
}  
  
header {  
  background-color: #333;  
  color: #fff;  
  padding: 20px;  
  text-align: center;  
  border-bottom: 1px solid #ddd;  
}  
  
nav ul {  
  list-style: none;  
  margin: 0;  
  padding: 0;  
  display: flex;  
  justify-content: space-between;  
}  
  
nav li {  
  margin-right: 20px;  
}  
  
nav a {  
  color: #fff;  
  text-decoration: none;  
  transition: color 0.3s ease-in-out;  
}  
  
nav a:hover {  
  color: #ccc;  
}  
  
main {  
  display: flex;  
  flex-direction: column;  
  align-items: center;  
  padding: 20px;  
}  
  
section {  
  background-color: #fff;  
  padding: 20px;  
  border: 1px solid #ddd;  
  border-radius: 10px;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
  transform: scale(1);  
  transition: transform 0.3s ease-in-out;  
}  
  
section:hover {  
  transform: scale(1.1);  
}  
  
h1 {  
  font-size: 36px;  
  font-weight: bold;  
  color: #00698f;  
  text-align: center;  
  margin-bottom: 20px;  
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
}  
  
footer {  
  background-color: #333;  
  color: #fff;  
  padding: 20px;  
  text-align: center;  
  clear: both;  
  border-top: 1px solid #ddd;  
}
